In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)

In [2]:
price = pd.read_csv('../data/prices_plus_salty_siren.csv')

In [3]:
price

,drink_type,price_small,price_medium,price_large,simple,double
0,frappucino,5.0,5.7,6.4,NaN,NaN
1,iced chocolate,5.0,5.7,6.4,NaN,NaN
2,iced chai latte,5.0,5.7,6.4,NaN,NaN
3,milkshake (syrup),4.6,5.3,6.0,NaN,NaN
4,milkshake (natural fruit extract),4.6,5.3,6.0,NaN,NaN
5,cold brew latte,4.5,5.2,5.9,NaN,NaN
6,iced coco matcha,5.0,5.7,6.4,NaN,NaN
7,company ice tea passion fruit and citrus,3.5,4.2,4.9,NaN,NaN
8,company ice tea raspberry and elderflower,3.5,4.2,4.9,NaN,NaN
9,company ice tea peach,3.5,4.2,4.9,NaN,NaN
10,special company drink,3.8,4.5,5.2,NaN,NaN
11,smoothie - Kiwi Banana Mango Apple,4.9,5.6,6.3,NaN,NaN
12,smoothie - Strawberry Blueberry Blackcurrant M...,4.9,5.6,6.3,NaN,NaN
13,smoothie - Passion fruit Guava Pineapple Aloe ...,4.9,5.6,6.3,NaN,NaN
14,orange juice,3.9,4.6,5.3,NaN,NaN
15,Salty Siren,5.5,NaN,NaN,NaN,NaN
16,cappucino,4.1,4.8,5.5,NaN,NaN
17,latte,4.0,4.7,5.5,NaN,NaN
18,special company brand latte,5.4,6.1,6.8,NaN,NaN
19,mocha,4.9,5.6,6.3,NaN,NaN
20,chai latte,4.7,5.4,6.1,NaN,NaN
21,coco matcha,5.0,5.7,6.4,NaN,NaN
22,hot chocolate,4.0,4.7,5.4,NaN,NaN
23,hot white chocolate,4.2,4.9,5.6,NaN,NaN
24,viennese coffee,4.7,5.4,6.1,NaN,NaN
25,espresso,NaN,NaN,NaN,1.8,2.5
26,macchiato,NaN,NaN,NaN,2.1,2.8
27,con panna,NaN,NaN,NaN,2.5,3.2
28,ristretto,NaN,NaN,NaN,1.8,2.5
29,lungo,NaN,NaN,NaN,1.9,NaN
30,filter coffee,2.9,3.6,4.3,NaN,NaN
31,tea/herbal teas,3.1,3.4,3.8,NaN,NaN

In [4]:
price.isna()

    drink_type  price_small  price_medium  price_large  simple  double
0        False        False         False        False    True    True
1        False        False         False        False    True    True
2        False        False         False        False    True    True
3        False        False         False        False    True    True
4        False        False         False        False    True    True
5        False        False         False        False    True    True
6        False        False         False        False    True    True
7        False        False         False        False    True    True
8        False        False         False        False    True    True
9        False        False         False        False    True    True
10       False        False         False        False    True    True
11       False        False         False        False    True    True
12       False        False         False        False    True    True
13       False        False         False        False    True    True
14       False        False         False        False    True    True
15       False        False          True         True    True    True
16       False        False         False        False    True    True
17       False        False         False        False    True    True
18       False        False         False        False    True    True
19       False        False         False        False    True    True
20       False        False         False        False    True    True
21       False        False         False        False    True    True
22       False        False         False        False    True    True
23       False        False         False        False    True    True
24       False        False         False        False    True    True
25       False         True          True         True   False   False
26       False         True          True         True   False   False
27       False         True          True         True   False   False
28       False         True          True         True   False   False
29       False         True          True         True   False    True
30       False        False         False        False    True    True
31       False        False         False        False    True    True

In [5]:
price.info

<bound method DataFrame.info of                                            drink_type  price_small  \
0                                          frappucino          5.0
1                                      iced chocolate          5.0
2                                     iced chai latte          5.0
3                                   milkshake (syrup)          4.6
4                   milkshake (natural fruit extract)          4.6
5                                     cold brew latte          4.5
6                                    iced coco matcha          5.0
7            company ice tea passion fruit and citrus          3.5
8           company ice tea raspberry and elderflower          3.5
9                               company ice tea peach          3.5
10                              special company drink          3.8
11                 smoothie - Kiwi Banana Mango Apple          4.9
12  smoothie - Strawberry Blueberry Blackcurrant M...          4.9
13  smoothie - Passion fruit Guava Pineapple Aloe ...          4.9
14                                       orange juice          3.9
15                                        Salty Siren          5.5
16                                          cappucino          4.1
17                                              latte          4.0
18                        special company brand latte          5.4
19                                              mocha          4.9
20                                         chai latte          4.7
21                                        coco matcha          5.0
22                                      hot chocolate          4.0
23                                hot white chocolate          4.2
24                                    viennese coffee          4.7
25                                           espresso          NaN
26                                          macchiato          NaN
27                                          con panna          NaN
28                                          ristretto          NaN
29                                              lungo          NaN
30                                      filter coffee          2.9
31                                    tea/herbal teas          3.1

    price_medium  price_large  simple  double
0            5.7          6.4     NaN     NaN
1            5.7          6.4     NaN     NaN
2            5.7          6.4     NaN     NaN
3            5.3          6.0     NaN     NaN
4            5.3          6.0     NaN     NaN
5            5.2          5.9     NaN     NaN
6            5.7          6.4     NaN     NaN
7            4.2          4.9     NaN     NaN
8            4.2          4.9     NaN     NaN
9            4.2          4.9     NaN     NaN
10           4.5          5.2     NaN     NaN
11           5.6          6.3     NaN     NaN
12           5.6          6.3     NaN     NaN
13           5.6          6.3     NaN     NaN
14           4.6          5.3     NaN     NaN
15           NaN          NaN     NaN     NaN
16           4.8          5.5     NaN     NaN
17           4.7          5.5     NaN     NaN
18           6.1          6.8     NaN     NaN
19           5.6          6.3     NaN     NaN
20           5.4          6.1     NaN     NaN
21           5.7          6.4     NaN     NaN
22           4.7          5.4     NaN     NaN
23           4.9          5.6     NaN     NaN
24           5.4          6.1     NaN     NaN
25           NaN          NaN     1.8     2.5
26           NaN          NaN     2.1     2.8
27           NaN          NaN     2.5     3.2
28           NaN          NaN     1.8     2.5
29           NaN          NaN     1.9     NaN
30           3.6          4.3     NaN     NaN
31           3.4          3.8     NaN     NaN  >

In [9]:
price.last

<bound method NDFrame.last of                                            drink_type  price_small  \
0                                          frappucino          5.0
1                                      iced chocolate          5.0
2                                     iced chai latte          5.0
3                                   milkshake (syrup)          4.6
4                   milkshake (natural fruit extract)          4.6
5                                     cold brew latte          4.5
6                                    iced coco matcha          5.0
7            company ice tea passion fruit and citrus          3.5
8           company ice tea raspberry and elderflower          3.5
9                               company ice tea peach          3.5
10                              special company drink          3.8
11                 smoothie - Kiwi Banana Mango Apple          4.9
12  smoothie - Strawberry Blueberry Blackcurrant M...          4.9
13  smoothie - Passion fruit Guava Pineapple Aloe ...          4.9
14                                       orange juice          3.9
15                                        Salty Siren          5.5
16                                          cappucino          4.1
17                                              latte          4.0
18                        special company brand latte          5.4
19                                              mocha          4.9
20                                         chai latte          4.7
21                                        coco matcha          5.0
22                                      hot chocolate          4.0
23                                hot white chocolate          4.2
24                                    viennese coffee          4.7
25                                           espresso          NaN
26                                          macchiato          NaN
27                                          con panna          NaN
28                                          ristretto          NaN
29                                              lungo          NaN
30                                      filter coffee          2.9
31                                    tea/herbal teas          3.1

    price_medium  price_large  simple  double
0            5.7          6.4     NaN     NaN
1            5.7          6.4     NaN     NaN
2            5.7          6.4     NaN     NaN
3            5.3          6.0     NaN     NaN
4            5.3          6.0     NaN     NaN
5            5.2          5.9     NaN     NaN
6            5.7          6.4     NaN     NaN
7            4.2          4.9     NaN     NaN
8            4.2          4.9     NaN     NaN
9            4.2          4.9     NaN     NaN
10           4.5          5.2     NaN     NaN
11           5.6          6.3     NaN     NaN
12           5.6          6.3     NaN     NaN
13           5.6          6.3     NaN     NaN
14           4.6          5.3     NaN     NaN
15           NaN          NaN     NaN     NaN
16           4.8          5.5     NaN     NaN
17           4.7          5.5     NaN     NaN
18           6.1          6.8     NaN     NaN
19           5.6          6.3     NaN     NaN
20           5.4          6.1     NaN     NaN
21           5.7          6.4     NaN     NaN
22           4.7          5.4     NaN     NaN
23           4.9          5.6     NaN     NaN
24           5.4          6.1     NaN     NaN
25           NaN          NaN     1.8     2.5
26           NaN          NaN     2.1     2.8
27           NaN          NaN     2.5     3.2
28           NaN          NaN     1.8     2.5
29           NaN          NaN     1.9     NaN
30           3.6          4.3     NaN     NaN
31           3.4          3.8     NaN     NaN  >

In [ ]:
price2 = price

In [ ]:
price2 = price2.fillna(0)

In [ ]:
price2['one_of_each'] = price2['price_small'] + price2['price_medium'] + price2['price_large'] + price2['simple'] + price2['double']

In [ ]:
price2

In [ ]:
price.info

In [ ]:
salty_price = price.iloc[15]
salty_price = salty_price.dropna()
salty_price

In [ ]:
price.price_large.sum() / 28

In [ ]:
price.price_medium.sum() / 28

In [ ]:
price.price_small.sum() / 28
## avg small price ##

In [ ]:
price.simple.sum() / 28

In [ ]:
price.double.sum() / 28

In [ ]:
price.shape

In [ ]:
recipes = pd.read_csv('../Data/recipes_plus_salty_siren.csv')
specs = recipes
specs

In [ ]:
specs['fruit packets'].value_counts()

In [ ]:
specs['size (coffee)'].value_counts()

In [ ]:
specs.columns

In [ ]:
specs['honey (in grams)'].value_counts()

In [ ]:
salty_recipe = specs.iloc[45]
salty_recipe = salty_recipe.dropna()
salty_recipe

In [ ]:
salty_price

In [ ]:
salty_recipe

In [ ]:
specs.columns

In [ ]:
specs['milk (in cl)'].sum()

In [ ]:
specs['ice cubes'].sum()

In [ ]:
specs['coffee dose (in number of ristrettos)'].sum()

In [ ]:
specs['coffee dose (in number of espressos)'].sum()

In [ ]:
specs['tablespoon powder (= 15ml)'].sum()

In [ ]:
specs.isna()

In [ ]:
nulls = specs.isna().sum()

In [ ]:
nulls

In [ ]:
nulls = nulls.to_frame()

In [ ]:
nulls

In [ ]:
nulls.sum()

In [ ]:
nulls.mean()

In [ ]:
nulls.median()

In [ ]:
nulls.mode()

In [ ]:
nulls.info